body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #614051;
  height: 100% !important;
  font-family: 'Nunito', sans-serif;
  color: white
}

header {
  background-color: #69A583 !important;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar {
  text-align: center;
  font-size: 48px;
}

#wager {
  text-align: center;
  font-size: 30px;
  display: list-item;
  margin-bottom: 10px;
}

ul {
  display: inline-flex;

 padding-inline-start: 40px;
}

.card-body {
margin-right: 30px;
}

